<!-- Insert navigation component here -->
<app-navigation></app-navigation>

<main role="main">
  <!-- Insert jumbotron component here -->
  <app-jumbotron title="Welcom to our store" description="Browser our collection of License Plates below"></app-jumbotron>

  <div class="container">
    <!-- <app-bindings></app-bindings> -->
    <div class="row">
      <!-- License plates go here -->
      @for(lp of licensePlates; track lp._id) {
        <app-license-plate
          [plate]="lp"
          buttonText="Add to cart" 
          class="col-md-4">
        </app-license-plate>
      }

    </div>
  </div>
</main>

<footer class="container">
  <p>&copy; License Plate Store 2023</p>
</footer>
